<table class="table table-striped table-condensed">
	<tr>
		<th></th>
		<th></th>
		<th class="text-center">Filter</th>
	</tr>
	<tr ng-repeat="option in options">
		<td>{{ option }}</td>
		<td>
			<input ng-show="selectedFilters[option].hasStr"
				type="text"
				class="form-control input-sm"
				placeholder="Type here"
				ng-change="selectedFilters[option].selected && filterEmails()"
				ng-model="selectedFilters[option].str">
		</td>
		<td>
			<div class="checkbox text-center">
				<label>
					<input type="checkbox"
						name="{{ option }}"
						ng-model="selectedFilters[option].selected"
						ng-click="filterEmails()">
				</label>
			</div>
		</td>
	</tr>
</table>
<!-- {{typeof selectedFilters['Filter by Email'].str}} -->