<table class="table table-striped table-condensed">
	<tr>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<tr ng-repeat="option in typeOptions">
		<td colspan="{{typeFunctions[option].hasStr ? 1 : 2}}">{{ option }}</td>
		<td ng-show="typeFunctions[option].hasStr">
			<input
				type="text"
				class="form-control input-sm"
				placeholder="Type here"
				ng-change="selectedType.selected === option && splitEmails()"
				ng-model="selectedType.str">
				</td>
		<td>
			<div class="radio text-center">
				<label>
					<input type="radio"
						name="{{ option }}"
						value="{{ option }}"
						ng-model="selectedType.selected"
						ng-click="splitEmails()">
				</label>
			</div>
		</td>
	</tr>
</table>