<section id="home">
  <div class="container" ng-show="!user">
    <div class="jumbotron">
      <h1>Graph your Gmail!</h1>
      <br>
      <p>It's a choose your own adventure with email data!</p>
      <p>
        <button class="btn btn-social btn-google-plus" ng-click="logInWith('google')">
          <i class="fa fa-google-plus"></i>Sign in with Google+
        </button>
      </p>
    </div>
  </div>

  <div class="text-center" ng-show="showLoading"><loadwheel></loadwheel></div>




  <div class="" ng-show="user && !showLoading">
    <div class="col-lg-3 col-md-4 col-xs-4">
      <div class="col-xs-12">
      	<div class="panel panel-success">
      		<div class="panel-heading">Categories</div>
          <category-options></category-option>
      	</div>
      </div>
      <div class="col-xs-12">
        <div class="panel panel-success">
          <div class="panel-heading">Types</div>
          <type-options></type-options>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-4 col-xs-4">
      <log-scales></log-scales>

      <label class="checkbox-inline">
       <input type="checkbox"  ng-model="isShowingTime"> Show time
     </label>
      <time-select ></time-select>

      <nvd3-scatter-chart
            data="exampleData"
            id="exampleId"
 
            color="colorFunction()"
            showLegend="true">
        <div class="svg-container">
          <svg></svg>
        </div>
      </nvd3-scatter-chart>
      
      <slider slider-style="timeOption" constraints="d3Chart" ng-show="isShowingTime"></slider>

    </div>



    <div class="col-lg-3 col-md-4 col-xs-4">
      <div class="col-xs-12">
        <div class="panel panel-success">
          <div class="panel-heading">Filters</div>
          <filter-options></filter-options>
        </div>
      </div>
    </div>
  </div>
</section>
